doctype html
html(lang="ko")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sign Up From
    script(type='text/javascript').
      function checkValue(){
      if(!(document.getElementById('username')&&document.getElementById('password')&&document.getElementById('REpassword'))){
      alert("INFO MISSING!!");
      return false;
      }else if(document.getElementById('password')==document.getElementById('REpassword')){
      alert("PASSWORD MISMATCH");
      return false;
      }
      }
  h1 Sign Up 
  p You are very welcomed
  div
    form(action='/auth/sign-up', method='post', onsubmit="console.log('asd');")
      p User Name
      input#username(type='text', name='username')
      p Password
      input#password(type='password', name='password')
      p Password Confirmation
      input#REpassword(type='password')
      input#submit(type='submit', value='Sign Up')
