doctype html
html(lang="ko")
    head
      meta(charset='utf-8')
      title HelloWorld!
      link(href='style.css' rel='stylesheet' type='text/css')
      script(src='https://developers.google.com/speed/libraries#jquery')
    body
        h1 HelloWorld!
        div
          nav
            ul.nav-item
              li
                a(href='/auth/sign-up') Sign-up 
              li
                a(href='/auth/sign-in') Sign-in 
        div
          table.table.table-striped
            thead
              tr
                td
                  b ID
                td
                  b USERNAME
                td
                  b DATE_JOINED
                td
                  b IS_ACTIVE
            tbody#tbody
            
        script.
          const $tbody = document.getElementById('tbody');
          const j = total;
          for (var i = 0; i < j; i++) {
          $tbody.innerHTML += `<tr>
          <td>${obj[i].id}</td>
          <td>${obj[i].username}</td>
          <td>${obj[i].datejoined}</td>
          <td>${obj[i].isActive}</td>
          </tr>;`
          }
